/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */


.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0 110px;
  
}

/* shared styles */
.btn {
  background-color: #FD6E0A;
  font-size: large;
  color: #fff;
  border-radius: 5px;
  line-height: 40px;
  padding: 0 20px ;
}
.bg-secondary {
  margin: 0 230px;
}

/* header styles */
.header-img {
  background-image: url(../images/developer.png),url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* Navigation menu create */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h1 {
  font-weight: bolder;
  font-size: 46px;
}
.color-primary {
  color: #FD6E0A;
}
nav ul {
  display: flex;
  align-items: center;
  
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

/* banner styles */

.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner-content {
  width: 580px;
}
.banner-title {
  font-weight: 600;
  font-size: 45px;
}
.banner-heading {
  font-weight: 700;
  font-size: 85px;
}
.banner-description {
  margin-bottom: 30px;
}

/* About styles */

.about {
  text-align: center;
  max-width: 1140px;
  padding: 50px 100px;
  background-color: #FFF8F3;
  margin: 0 auto;
  margin-top: 130px;
}
.about-items{
  display: flex;
  justify-content: space-evenly;
}
.about-mtitle {
  font-size: 20px;
}
.about-item-desc {
  font-size: 20px;
  font-weight: bold;
}
.about-color {
  background-color: #fff;
}
.skills {
  display: flex;
  justify-content: space-around;
  width: 1140px ;
  margin: 0 auto;
  
}
.fig{
  width: 270px;
  height: 370px;
  box-shadow: 0px 6px 50px 0px rgba(0,0,0,.06);
  padding: 15px;
  margin-bottom: 50px;
}
.resume-title, .resume-des{
  text-align: center;
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.resum-head {
  text-align: center;
  font-size: 45px;
}
.resum-container {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  gap: 50px;
}